<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--获取本地公网IP的接口地址-->
    <add key="GetPublicNetIPUrl" value="https://www.woaihuaye.com/ip"/>
    <!--阿里云api接口地址 注意最后的/? 不要去掉-->
    <add key="AliAPIUrl" value="https://alidns.aliyuncs.com/?"/>
    <add key="AccessKeyId" value="xxx"/>
    <add key="AccessKeySecret" value="xxx"/>
    <!--需要设置的解析域名-->
    <add key="SetDNSDomainName" value="xxx"/>
    <!--需要设置的域名主机记录-->
    <add key="SetDNSHostRecord" value="xxx"/>
    <!--系统休眠时间 毫秒-->
    <add key="SystemSleepTime" value="3000"/>
    <!--域名解析TTL-->
    <add key="DomainNameTTL" value="120"/>
    <!--当前解析线路 默认 ，或参考 https://help.aliyun.com/document_detail/29807.html?spm=a2c4g.11186623.2.8.Pe58xG -->
    <add key="DNSLine" value="default"/>

    <!--是否开启刷新本地解析记录，如果开启，可防止程序运行期间解析记录在其他地方修改-->
    <add key="RefreshRun" value="true"/>
    <!--如果开启刷新本地解析记录，则多少个间隔刷新一次， 即刷新时间间隔为 RefreshTimes * SystemSleepTime-->
    <add key="RefreshTimes" value="20"/>
    <!--是否开机自启动-->
    <add key="BootFromBoot" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
