<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--获取本地公网IP的接口地址-->
    <add key="GetPublicNetIPUrl" value="http://ip.woaihuaye.com/api/ip/get"/>
    <add key="AccessKeyId" value=""/>
    <add key="AccessKeySecret" value=""/>
    <!--需要设置的解析域名-->
    <add key="SetDNSDomainName" value="xxxx.com"/>
    <!--需要设置的域名主机记录-->
    <add key="SetDNSHostRecord" value="dnstest"/>
    <!--系统休眠时间 毫秒-->
    <add key="SystemSleepTime" value="1000"/>
    <!--域名解析TTL-->
    <add key="DomainNameTTL" value="120"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
